.addForm
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}

 .addForm textarea {
     color: #fff;
     resize: none;
     outline: none;
     background-color: #26272e;
     width: 90%;
     font-size: large;
     margin: 10px;
     border: none
}

.addForm_footer {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.addForm_footer_item {
    display: flex;
    flex-direction: column;
    gap:1px;
}

.customButton {
    color: #fff;
    padding: 5px;
    height: 30px;
    width: 100px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid grey;
}
.select {
    background-color: #26272e;
}

.addForm_footer_left {
    display: flex;
    gap: 20px;
    align-items: end;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.addForm_footer_right {
    display: flex;
    gap: 20px;
    align-items: end;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.saveCancelButton {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.saveCancelButton_backGround{
    background-color: #ff9000;
}
.customButton:hover{
cursor: pointer;
}