.navbarGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbarItem {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  text-align: left;
  padding: 5%;
  font-size: 1rem;
  cursor: pointer;
  position:relative;
  /*border: 1px solid white;*/
}
.navbarItem a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

.navbarItem:hover {
  background: #26272e;
  border-radius: 5px;
  transition: 0.3s ease all;
}
.addNavbarItem {
  color: darkgrey;
}

.navbarItem input {
  color: #fff;
  resize: none;
  outline: none;
  background-color: #26272e;
  width: 90%;
  font-size: large;
  margin: 10px;
  border: none
}

.threeDots {
width: 24px;
  color:white;
}

.subMenu{

  display:inline-flex;
  position: absolute;
  right:35px;
  top:5px;
  padding:10px;
}
.item_right_ico{
  width:24px;
  margin-left: 10px;
  filter: invert(99%) sepia(1%) saturate(5%) hue-rotate(22deg) brightness(102%) contrast(103%);
}
.item_right_ico:hover{
  filter: invert(32%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}