.App {
  background: #26272e;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.menuIco svg {
  width: 30px;
}

.App-header {
  padding: 2px 20px;
  background-color: #1b1c21;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.App-link {
  color: #61dafb;
}

.Main {
  height: calc(100vh - 50px);
}
